# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDE Settings
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Project Specifics
# captures/*.pcapng
# models/*.pkl